body{
  font-family: Calibri;
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
}
.main{
  width:100%;
  height:849px;
  position: relative;
}
.logo img {
  height: 80px;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 30px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(255, 151, 103, 0.164);
  z-index: 1;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  font-family: Calibri;
}
nav img{
  width: 300px;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 8px;
  padding: 0px 10px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #111;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

nav ul li a:hover {
  border-radius: 5px;
  background-color: rgb(106, 21, 218);
  color: #fff;
  box-shadow: 5px 10px 30px rgba(63, 6, 219, 0.5);
  transition: all ease 0.2s;
}

.container {
  padding: 20px;
}

.school-info {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.school-description {
  line-height: 1.6;
  margin-bottom: 200px;
}

.announcements {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.events {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

footer {
  background-color: navy;
  color: #fff;
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: black;
}

:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  place-items: center;
  font-family: var(--font-family);
  background: rgba(0, 0, 0, 0.4) url("/images/icct-bg1.jpg");
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
}

.contianer {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  padding: 2% 0px 0px 0px;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
}

.calendar {
  height: 610px;
  width: max-content;
  background-image: url("/images/wag.jpg");
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px 0px 50px;
}

.calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  background: #9796f0;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  align-items: center;
  font-weight: 700;
  color: var(--white);
  padding: 10px;
}

.calendar-body {
  pad: 10px;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
  height: 50px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.month-picker:hover {
  color: var(--color-txt);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--light-btn);
  transition: all .2s ease-in-out;
  transform: scale(1.12);
}

.year-change:hover pre {
  color: var(--bg-body);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #fbc7d4;
  border-radius: 20%;
  color: var(--dark-text);
}

.calendar-days div.current-date {
  color: var(--dark-text);
  background-color: var(--light-btn);
  border-radius: 20%;
}

.month-list {
  position: relative;
  left: 0;
  top: -50px;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}

.month-list>div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.month-list>div>div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list>div>div:hover {
  background-color: var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}

.month-list.hideonce {
  visibility: hidden;
}

.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

.date-time-formate {
  width: max-content;
  height: max-content;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  top: 140px;
  justify-content: center;
}

.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #9796f0;
  position: absolute;
  left: -1rem;
}

.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 40%;
  top: -18px;
  text-align: center;
}

.time-formate {
  font-size: 1.5rem;
}

.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
  animation: showtime 1s forwards;
}

.time-formate.showtime {
  animation: showtime 1s forwards;
}

.date-formate.showtime {
  animation: showtime 1s forwards;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }

  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }

  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }

  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}

nav .menu-btn {
  display: none;
}

nav .menu-icon {
  left: 4%;
}

@media (max-width:1100px) {
  nav {
    justify-content: space-between;
    height: 90px;
  }

  .modal {
    top: 5.6rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 85px;
    left: 0px;
    background-color: #fff;
    width: 100%;
  }

  .menu li {
    width: 100%;
  }

  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }

  nav .menu-icon {
    cursor: pointer;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  nav .menu-icon .nav-icon {
    background-color: #333333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #333333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }

  nav .menu-icon .nav-icon:before {
    top: 5px;
  }

  nav .menu-icon .nav-icon:after {
    top: -5px;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  nav .menu-btn {
    display: none;
  }

  nav .menu-btn:checked~.menu {
    display: block;
  }
  .calendar{
    margin: 20px;
  }
  .contianer{
    margin: 70px 0px;
  }
}