body{
    margin:0px;
    padding: 0px;
    font-family: Calibri;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.modal {
    text-align: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .modal h1 {
    font-size: 36px;
    text-align: center;
  }

  .modal .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder {
    color: white;
  }

  .modal .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
  }

  .remember-forgot a {
    color: white;
    text-decoration: none;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .modal .btn {
    width: 100%;
    height: 45px;
    background: navy;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  .modal .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }

  .register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .register-link p a:hover {
    text-decoration: underline;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .modal-content {
    width: 420px;
    background-color: transparent;
    margin: 5% auto 10% auto;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    border: 2px solid white;
    padding: 30px 40px;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }


  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }

    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }
.main{
    background: rgba(0,0,0,0.4) url("/images/icct-bg1.jpg");
    background-blend-mode: darken;
    width:100%;
    height:849px;
    position: relative;
}
.logo img{
    height: 80px;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 20px rgba(255, 151, 103, 0.164);
    z-index: 1;
    width:100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav img{
    width: 300px;
    cursor: pointer;
}
nav ul{
    display: flex;
    margin:0px;
    padding: 0px;
}
nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 10px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}
nav ul li a.disabled{
    pointer-events: none;
    cursor: default;
    color: gray;
}
.active{
    background-color: rgb(106, 21, 218);
    color: #fff;
}
nav ul li a:hover{
    border-radius: 5px;
    background-color: rgb(106, 21, 218);
    color:#fff;
    box-shadow: 5px 10px 30px rgba(63, 6, 219, 0.5);
    transition: all ease 0.2s;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90%;

}
.home-img{
    width:500px;
    height:400px;
    margin:20px;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.home-text{
    width:500px;
    margin: 20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-family: Calibri;
    font-size: 1rem;
    color:#777474;
}
.home-text span{
    color: rgb(106, 21, 218);
    text-decoration: underline;
}

.main{
    background-size: cover; 
}

.main-login{
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgb(159, 156, 156);
    color: #777474;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.arrow{
    align-self: end;
    width:50%;
    border-right: 1px solid white;
    height: 20%;
    margin-bottom:20em ;
    position: absolute;
    bottom: 5px;
    right: 70px;
    animation: arrow-animation ease 1.5s;

}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #fcfbfb transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
.scroll{
    position: absolute;
    bottom: 260px;
    right:55px;
    font-weight: 600;
    color: white
}
@keyframes arrow-animation{
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}
.services{
    background-size: 1000px;
    background-position: center;
}
.services-heading{
    text-align: center;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.services-heading h2{
    line-height: 250px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px;
}
.services-heading p{
    font-size: 1rem;
    color:#777474;
    width:50%;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 400px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
    border-radius: 10px;
    background-color: #fff;
    margin: 20px;
    flex-grow: 1;
}
.box img{
    height:50px;
    margin:10px;
}
.box font{
    font-size: 1.5rem;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
}
.box p{
    font-size: 1rem;
    color: #777474;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.box a{
    width:150px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(159, 156, 156);
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(159, 156, 156);
    margin:0px;
}

.box{
    width:200px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}
.about{

    width:100%;
    height:768px;
    position: relative;
}
.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90%;

}
.about-img{
    width:500px;
    height:400px;
    margin:20px;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.about-text{
    width:500px;
    margin: 20px;
}
.about-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.about-text p{
    font-size: 1rem;
    color:#777474;
}
.about-text span{
    color: #F14D5D;
    text-decoration: underline;
}
.about-login{
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 21, 218);
    color:#fff;
    box-shadow: 5px 10px 30px rgb(2, 0, 102);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
.about-login:hover{
    background-color: rgb(106, 21, 218);
    transition: all ease 0.3s;
}
.section-5-text{
    text-align: center;
    padding-bottom: 40px;
}
.section-5-text h1{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 2.5rem;
line-height: 47px;
color: #000000;
}
.section-5-text p{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 21px;
color: #545454;
}
.section-5-text-btn{
    margin-top: 90px;
    margin-bottom: 60px;
}
.section-5-text-btn input{
    width: 30%;
height: 53px;
border: none;
outline: none;
font-size:20px;
background: #F3F3F3;
box-shadow: 5px 10px 30px rgba(219, 74, 6, 0.5);
padding-left: 20px;
}
.section-5-text-btn button{
background: #fd0000;
width: 221px;
height: 53px;
margin-left: 15px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
nav .menu-btn{
    display: none;
}
@media (max-width:1100px){
    nav{
        justify-content: space-between;
        height: 90px;
    }
    .modal{
        top: 5.6rem;
    }
    .modal-content{
        margin-top: 40%;
    }
    .menu{
        display: none;
        position: absolute;
        top: 85px;
        left: 0px;
        background-color: #fff;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: left;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    .home-img{
        size: 100%;
        display: none;
    }
    .home-text{
        width:100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 0px;
    }
    .home-content{
        text-align: center;
        width:100%;
        margin:0px;
        position: static;
        transform: translate(0px,70px);
        box-shadow: 2px 2px 30px rgba(255, 102, 55, 0.178);
    }
    .home-text h1{
        color:rgb(0, 0, 0);
        padding: 0px 20px;
        font-size: 2.5rem;
    }
    .home-text p{
        color:rgba(32, 32, 32, 0.85);
        margin: 10px 0px 20px 0px;
        width:50%;
    }
    
    .about-img{
        display: none;
    }
    .about-text{
        width:100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 45vh;
        margin: 0px;
    }
    .about-content{
        text-align: center;
        width:100%;
        margin:0px;
        position: static;
        transform: translate(0px,70px);
        box-shadow: 2px 2px 30px rgba(255, 102, 55, 0.178);
    }
    .about-text h1{
        color:rgb(0, 0, 0);
        padding: 0px 20px;
        font-size: 2.5rem;
    }
    .about-text p{
        color:rgba(32, 32, 32, 0.85);
        margin: 10px 0px 20px 0px;
        width:50%;
    }
    .services-heading h2{
        line-height: 80px;
        font-size: 2.2rem;
        color:#22252e;
        letter-spacing: 2px;
        font-weight: 700;
        margin: 0px;
    }
    .box-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 30px;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:300px;
        height: 400px;
        text-align: center;
        box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
        border-radius: 10px;
        background-color: #fff;
        margin: 20px;
        flex-grow: 1;
    }
    .box a{
        width:150px;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(159, 156, 156);
        text-transform: uppercase;
        margin: auto;
        border-radius: 5px;
        font-weight: 600;
        font-size: 0.9rem;
        color: rgb(159, 156, 156);
        margin:0px;
    }
    
    .arrow{
        height: 70px;
    }
   
   .main{
        padding: 75px 0px 0px 0;
        background: rgba(0,0,0,0.4) url("/images/icct-bg1.jpg");
        background-size: cover;
        height: 950px;
    }

   .arrow{
       left: 40%;
       margin-bottom: 15em;
    }

   .scroll{
       left: 86%;
       bottom: 200px;
   }
}